In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import scale
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_boston
from sklearn.neighbors import KNeighborsRegressor

In [11]:
# with open('wine.names') as f:
#     print(f.read())

In [5]:
data = pd.read_csv('wine.data', header=None)

In [10]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [102]:
x = data.iloc[:, 1:]
y = data[0]

In [103]:
for col in x.columns:
    x[col] = scale(x[col].astype('float64'))

In [104]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [107]:
l = []

for i in range(1, 51):
    score = cross_val_score(KNeighborsClassifier(i), x, y, cv=kf)
    l.append((i, np.mean(score)))
l = sorted(l, key=lambda x: x[1], reverse=True)

for idx, score in l:
    print(idx, round(score, 2))
    break

29 0.98

In [109]:
boston = load_boston()

In [110]:
x = pd.DataFrame(boston.data)
y = pd.Series(boston.target)

In [111]:
for col in x.columns:
    x[col] = scale(x[col].astype('float64'))

In [112]:
p_array = np.linspace(1, 10, 200)

In [116]:
l = []

for i in p_array:
    model = KNeighborsRegressor(5, weights='distance', p=i)
    score = cross_val_score(model, x, y, cv=kf, scoring='neg_mean_squared_error')
    l.append((i, np.mean(score)))
l = sorted(l, key=lambda x: x[1], reverse=True)

for idx, score in l:
    print(idx, round(score, 2))
    break

1.0 -16.05

## Задание 2

In [7]:
data_train = pd.read_csv('perceptron-train.csv', header=None)
data_test = pd.read_csv('perceptron-test.csv', header=None)

In [8]:
data_train.head()

     0         1            2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726

In [9]:
data_test.head()

     0         1            2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207

In [12]:
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler

In [28]:
model1 = Perceptron(random_state=241)
scaler = StandardScaler()

In [33]:
x_train_scaled = scaler.fit_transform(data_train[[1, 2]])
x_test_scaled = scaler.transform(data_test[[1, 2]])

In [30]:
model1.fit(data_train[[1, 2]], data_train[0])

/Users/LeGatto53/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Perceptron(alpha=0.0001, class_weight=None, eta0=1.0, fit_intercept=True,
      max_iter=None, n_iter=None, n_jobs=1, penalty=None, random_state=241,
      shuffle=True, tol=None, verbose=0, warm_start=False)

In [32]:
score1 = accuracy_score(data_test[0], model1.predict(data_test[[1, 2]]))

In [34]:
model2 = Perceptron(random_state=241)
model2.fit(x_train_scaled, data_train[0])
score2 = accuracy_score(data_test[0], model2.predict(x_test_scaled))

/Users/LeGatto53/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [38]:
score2 - score1

0.18999999999999995